section.content
  include ../../shared/menu/submenu.pug
  block content
include ../../shared/back-to-top/back-to-top.pug
include ../../shared/footer/footer-content.pug
- if (locals.config.enableFeedback) {
  include ../../shared/feedback-tool/feedback-tool.pug
- }
